{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h2>Topology</h2>
          <a href="{% url 'lldp_map:devices_list' %}">Back</a>
          <a href="{% url 'lldp_map:topology' %}">Refresh</a><br>
          {% for link in links %}
              {{ link }}<br>
          {% endfor %}
          <img src="{% static "topology.png" %}" alt="Topology">
      </div>
  </body>
</html>
